@page
@model WorldCupSoccer.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<section id="main">
    <h1>About World Cup Soccer Application !</h1>
    <p>
        This is an application developed for learning purposes.
    </p>
</section>
